# Environment variables for the Django project

SECRET_KEY="django-insecure-!%20k=azqynplj1k!5!x*11$n^tjy+6=d-*vvo$&&j5!l+p393"
DEBUG=True
DATABASE_URL="postgres://user:password@localhost:5432/dbname"
