# !!! Aviso: Variáveis de ambiente expostas apenas para desenvolvimento local.
# Essas credenciais são utilizadas somente para facilitar testes e desenvolvimento.
# NÃO utilize esses valores em ambiente de produção.

SECRET_KEY="django-insecure-!%20k=azqynplj1k!5!x*11$n^tjy+6=d-*vvo$&&j5!l+p393"
DEBUG=True

DATABASE_NAME="postgres"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
